<div class="container__big-card">
    
    <div class="big-card__picture">
        <img src="https://occ-0-8407-2218.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABTa1LYiGVgPIqyZcRv2_Bx-6uiazDYgGBjjyY6cUiABHE1jejdvYcTx6GU6a0DugpnV3SMz7wdaDGrkPaz1FSZikCyg0IRQ6in7M.jpg?r=1c7"
         alt=""
         height="300px"
       >
    </div>
    
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    
    <div class="big-card__description">
        <p>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at erat nec enim facilisis tincidunt.
             Sed non ligula a quam aliquet facilisis. Suspendisse potenti. Nullam in libero ac leo commodo facilisis. Donec vel augue id est efficitur eleifend.
            </a>
        </p>
    </div>
</div>