.container__small-card{
    border: 1px solid #ccc;
    width: 700px;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    padding: 16px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.container__small-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.container__small-card-content{
    display: flex;
    flex-direction: row;
}

/* .container__small-card-separator{
    margin-top: 10px;
} */
.small-card__picture > img { 
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
   
}

.small-card__title{
    display: flex;
    justify-content: center;
    align-items: center;
}